@mixin sexy-border($color, $width: 5px) {
  border: {
    color: $color;
    width: $width;
    style: dashed;
  }
}
p {
  @include sexy-border(blue, 1in);
}
h3 {
  @include sexy-border(red, 2px);
}
h5 {
  @include sexy-border(yellow);
}
