// $base-color: #036;

// @for $i from 1 through 3 {
//   ul:nth-child(3n + #{$i}) {
//     background-color: lighten($base-color, $i * 5%);
//   }
// }

$headerElement: h1, h2, p, h4, h5;
$fontSize: 55px, 50px, 40px, 20px, 10px;

$len: length($headerElement);

@for $i from 1 through $len {
  #{nth($headerElement,$i)} {
    font-size: #{nth($fontSize, $i)};
  }
}
